@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row" align="center">

    <div class="form-group col-md-12">
        @*asp-route-Validar="@Model.Validar1"*@
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <h4 class="text-primary">Crear una cuenta</h4>


            <div class="col-md-8 col-md-offset-2 text-left">
                <section>
                    <hr />
                    <br />

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">

                        <input name="tipoRegistro" type="hidden" value="@ViewBag.tipoRegistro">

                        <div class="form-group col-md-6">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Birthdate"></label>
                            <input asp-for="Input.Birthdate" type="date" id="fechaActual" class="form-control" />
                            <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
                        </div>




                    </div>

                    @if (@ViewBag.tipoRegistro == "Institucional" || @ViewBag.tipoRegistro == "Personal")
                    {
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="Input.Occupation"></label>
                                <input asp-for="Input.Occupation" class="form-control" />
                                <span asp-validation-for="Input.Occupation" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="Input.Profession"></label>
                                <input asp-for="Input.Profession" class="form-control" />
                                <span asp-validation-for="Input.Profession" class="text-danger"></span>
                            </div>
                        </div>
                    }
                 @if (@ViewBag.tipoRegistro == "Institucional" )
                 {

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="Input.Contact"></label>
                                <input asp-for="Input.Contact" class="form-control" />
                                <span asp-validation-for="Input.Contact" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="Input.PhoneCompany"></label>
                                <input asp-for="Input.PhoneCompany" class="form-control" />
                                <span asp-validation-for="Input.PhoneCompany" class="text-danger"></span>
                            </div>
                        </div>

                    }
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Input.ConfirmEmail"></label>
                            <input asp-for="Input.ConfirmEmail" class="form-control" />
                            <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Telefono"></label>
                            <input type="tel" asp-for="Input.Telefono" class="form-control" />
                            <span asp-validation-for="Input.Telefono" class="text-danger" placeholder="000-000-0000"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Input.PhoneHouse"></label>
                            <input type="tel" asp-for="Input.PhoneHouse" class="form-control" />
                            <span asp-validation-for="Input.PhoneHouse" class="text-danger" placeholder="000-000-0000"></span>
                        </div>


                    </div>


                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row" align="right">
                        <div class="form-group ">
                            <input type="submit" value="Register" class="btn btn-primary btn-block" />

                        </div>

                    </div>


                </section>

            </div>

        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script type="text/javascript" src="~/js/Fecha.js"></script>